<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false" xmlns:log4j='http://jakarta.apache.org/log4j/'>
 
  <!-- This block will cause the logs to print to console -->
  <!-- Comment out this block to disable printing to console -->
  <appender name="console" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.out"/>
    <layout class="org.apache.log4j.PatternLayout">
    <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p - %m%n" />
    </layout>
  </appender>
 
 <!-- This block will cause the logs to print to an output file -->
 <!-- Comment out this block to disable printing to output file -->
 <!-- 
  <appender name="fileAppender" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="resources/log"/>
    <layout class="org.apache.log4j.PatternLayout">
    <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p - %m%n" />
    </layout>
  </appender>
  -->
  
  <root>
    <priority value ="debug"></priority>
    <appender-ref ref="console"></appender-ref>
  </root>
 
</log4j:configuration>